beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cssselect==1.1.0
Cython==0.29.21
decorator==4.4.2
dnspython==1.16.0
feedfinder2==0.0.4
feedparser==6.0.2
filelock==3.0.12
gensim==4.0.1
idna==2.10
jieba3k==0.35.1
joblib==1.0.1
lxml==4.6.3
networkx==2.5.1
newspaper3k==0.2.8
nltk==3.5
numpy==1.20.2
Pillow==8.2.0
pymongo==3.11.3
python-dateutil==2.8.1
python-dotenv==0.17.0
PyYAML==5.4.1
regex==2021.4.4
requests==2.25.1
requests-file==1.5.1
scipy==1.6.2
sgmllib3k==1.0.0
six==1.15.0
smart-open==5.0.0
soupsieve==2.2.1
tinysegmenter==0.3
tldextract==3.1.0
tqdm==4.59.0
urllib3==1.26.4
APScheduler==3.0.0
scikit-learn==0.24.1
Werkzeug==1.0.1
MarkupSafe==1.1.1
Jinja2==2.11.3
itsdangerous==1.1.0
Flask==1.1.2
